* {
    box-sizing: border-box;
}

.container {
    display: grid;
    background-color: white;
    width: 1400px;
    height: 800px;
    grid-template-columns: repeat(7,1fr);
    gap: 10px;
}

.grey {
    background-color: lightgrey;
}

.white {
    background-color: lightyellow; 
}

.blue{
    background-color: cornflowerblue;
    color: white
}

.display {
    background-color: whitesmoke;
    grid-row-start: span 2;
    grid-column-start: span 7;
    color: black;
    font-size: 72px;
    position: relative;
}

.btn {
    font-size: 24px;
    border-radius: 20px;
    border: 2px solid black;
}

.result {
    text-align: right;
    position:absolute;
    right: 0px;
    bottom: -70px;
}